{% load static %}
{% load active_link_tags %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Vacation<span>Travel Agency</span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        {% url 'home' as index %}
        {% url 'about' as about %}
        {% url 'destination' as destination %}
        {% url 'blog' as blog %}
        {% url 'contact' as contact %}
        {% url 'booknow' as booknow %}
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li {% if '/' == request.path %}
                  class="nav-item active"
                {% else %}
                  class="nav-item"
                {% endif %}> 
              <a class='nav-link' href="{% url 'home' %}">Home</a>
            </li>
            <li {% if '/about/' == request.path %}
                  class="nav-item active"
                {% else %}
                  class="nav-item"
                {% endif %}> 
              <a class='nav-link' href="{% url 'about' %}">About</a>
            </li>
            <li {% if '/destination/' == request.path %}
                  class="nav-item active"
                {% else %}
                  class="nav-item"
                {% endif %}> 
              <a class='nav-link' href="{% url 'destination' %}">Destination</a>
            </li>
            <li {% if '/blog/' == request.path %}
                  class="nav-item active"
                {% else %}
                  class="nav-item"
                {% endif %}> 
              <a class='nav-link' href="{% url 'blog' %}">Blog</a>
            </li>
            <li {% if '/contact/' == request.path %}
                  class="nav-item active"
                {% else %}
                  class="nav-item"
                {% endif %}> 
              <a class='nav-link' href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item cta">
              <a class='nav-link' href="contact.html">Book Now</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>