{% load static %}
<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h2 class="mb-4">Recent Post</h2>
        </div>
      </div>
      <div class="row d-flex">
        {% for post in posts %}
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a
              href="blog-single.html"
              class="block-20"
              style="background-image: url('{{ post.photo.url }}')"
            >
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center mb-4 topp">
                <div class="one">
                  <span class="day">{{post.created_date|date:'j'}}</span>
                </div>
                <div class="two">
                  <span class="yr">{{post.created_date|date:'Y'}}</span>
                  <span class="mos">{{post.created_date|date:'M'}}</span>
                </div>
              </div>
              <h3 class="heading">
                <a href="{% url 'blog-detail' post.pk %}">{{ post.title }}</a>
              </h3>
              {% autoescape off %}
                <p>{{ post.text|truncatewords:10 }}</p>
                {% endautoescape %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </section>